<div class="row-fluid mapContainer" style="height:100%;">
    <div id="map"></div>
    <button class="btn btn-primary btn-block btn-large" style="position: absolute; bottom: 0px; left: 0px; right: 0px;">Testing</button>
    <button style="position: absolute; top: 5px; right: 5px; width:59px" class="btn btn-success btn-small" data-bind="click: centerOnLocation"><span data-bind="    visible: isLocating() == false">Locate</span><i  data-bind="    visible: isLocating() == true" class='icon-spinner icon-spin icon-large'></i></button>
</div>